* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: radial-gradient(circle at top, #1a002b, #050010);
  color: #fff;
}

/* CONTENEDOR PRINCIPAL */
.app {
  width: 100vw;
  height: 100vh;          /* <- CLAVE */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin-top: -10px;

}

/* TARJETA */
.card {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;   /* <- CENTRA TEXTO Y BARRA */
  margin-top: -10px;
}

/* TEXTOS */
h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  opacity: 0.85;
}

.counter {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 10px;
}

/* BOTÓN */
.btn {
  margin-top: 20px;
  background: linear-gradient(135deg, #ff005d, #ff7a00);
  border: none;
  color: white;
  padding: 14px 22px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 0, 93, 0.5);
}

/* LOADING */
.loading {
  width: 100%;
  max-width: 300px;
}

.bar {
  width: 100%;
  height: 10px;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
}

.fill {
  height: 100%;
  background: linear-gradient(90deg, #ff005d, #ff7a00);
  transition: width 0.1s linear;
}

/* RESULTADO */
.result {
  background: rgba(255,255,255,0.05);
  border-radius: 16px;
  padding: 20px;
  max-width: 320px;
  box-shadow: 0 0 20px rgba(255,0,93,0.3);
}

.result ul {
  margin: 10px 0;
  padding: 0;
}

.result li {
  list-style: none;
  padding: 6px;
  background: rgba(255,255,255,0.08);
  border-radius: 8px;
  margin-bottom: 6px;
}

.promo-box {
  width: 280px;
  max-height: 320px;
  overflow-y: auto; 
  margin-top: 0px;
  border-radius: 14px;
  background: rgba(255,255,255,0.04);
 
}

/* Ocultar porcentaje en móviles */
@media (max-width: 768px) {
  .percent {
    display: none;
  }
}